<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255255253123-lga00ri55ji6vu43uf79kqbumpdhfopp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255255253123-lga00ri55ji6vu43uf79kqbumpdhfopp</string>
	<key>API_KEY</key>
	<string>AIzaSyBCT2fpM8SuWUgudmv_1p59Shf4UjwzFio</string>
	<key>GCM_SENDER_ID</key>
	<string>255255253123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripPlanner</string>
	<key>PROJECT_ID</key>
	<string>tripplanner-2ce72</string>
	<key>STORAGE_BUCKET</key>
	<string>tripplanner-2ce72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255255253123:ios:62f8debe5f6a0b2d408bb6</string>
</dict>
</plist>